---
import { Image } from 'astro:assets'
import MainLayout from '../components/layouts/MainLayout.astro'
import sand from '../images/sand.gif'
import subway from '../images/subway.gif'
import { getTodos } from '../utils/chores.utils'
import { getNextWeekendDates, isNowWeekend } from '../utils/weekend.utils'

const todos = await getTodos()
const nextWeekend = getNextWeekendDates()
---

<MainLayout>
  <Image src={sand} alt="" class="h-28 sm:h-36" quality="mid" />

  <div class="flex flex-col items-center gap-4 my-4">
    <h1 class="text-xl sm:text-3xl">
      {isNowWeekend() ? 'obecny' : 'następny'} weekend: {nextWeekend}
    </h1>

    <ul class="bg-gray80 p-2 rounded w-full text-center">
      {
        todos.map(({ name, chore }) => (
          <li class="sm:text-xl">
            <span class="font-bold">{name}</span>: {chore}
          </li>
        ))
      }
    </ul>

    <h2 class="text-xl">wolne -> schody -> łazienka</h2>
  </div>

  <Image src={subway} alt="" class="h-72 sm:h-full" quality="low" />
</MainLayout>
