---
import { Image } from 'astro:assets'
import sand from '../images/sand.gif'
import subway from '../images/subway.gif'

const toDay = (date: Date): string => String(date.getDate()).padStart(2, '0')

const toMonth = (date: Date): string =>
  String(date.getMonth() + 1).padStart(2, '0')

const addDays = (date: Date, numOfDays: number): Date => {
  const newDate = new Date()
  newDate.setDate(date.getDate() + numOfDays)
  return newDate
}

const getNextWeekendDates = (): string => {
  const today = new Date()
  const currentDay = ((today.getDay() + 6) % 7) + 1

  const nextSaturday = addDays(today, 6 - currentDay)
  const nextSunday = addDays(nextSaturday, 1)

  const nextSaturdayMonth = toMonth(nextSaturday)
  const nextSundayMonth = toMonth(nextSunday)
  const nextSaturdayDay = toDay(nextSaturday)
  const nextSundayDay = toDay(nextSunday)

  return `${nextSaturdayDay}.${nextSaturdayMonth} - ${nextSundayDay}.${nextSundayMonth}`
}

const getCurrentWeekNumber = (): number => {
  const today = new Date()
  const startOfYear = new Date(today.getFullYear(), 0, 1)
  const daysSinceStartOfYear = Math.floor(
    (today.getTime() - startOfYear.getTime()) / (1000 * 60 * 60 * 24), // ms * s * m * h
  )

  return Math.ceil((daysSinceStartOfYear + 1) / 7)
}

const isNowWeekend = (): boolean => [0, 6].includes(new Date().getDay())

const nextWeekend = getNextWeekendDates()
const currentWeekNumber = getCurrentWeekNumber()

const chores = ['wolne', 'schody', 'łazienka']
const people = ['tatiana', 'oskar', 'oliwer']
const todos = people.map((person, idx) => ({
  name: person,
  chore: chores[(currentWeekNumber + idx - 1) % chores.length], // -1 to match the current chores
}))
---

<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>co sprzątam?</title>
  </head>

  <body class="bg-black flex flex-col p-4 sm:p-10 text-white items-center">
    <Image src={sand} alt="" class="h-28 sm:h-36" quality="mid" />

    <div class="flex flex-col items-center gap-4 my-4">
      <h1 class="text-xl sm:text-3xl">
        {isNowWeekend() ? 'obecny' : 'następny'} weekend: {nextWeekend}
      </h1>

      <ul class="bg-gray80 p-2 rounded w-full text-center">
        {
          todos.map(({ name, chore }) => (
            <li class="sm:text-xl">
              <span class="font-bold">{name}</span>: {chore}
            </li>
          ))
        }
      </ul>

      <h2 class="text-xl">
        {chores.join(' -> ')}
      </h2>
    </div>

    <Image src={subway} alt="" class="h-72 sm:h-full" quality="low" />
  </body>
</html>
